@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3A5D70;
    font-family: 'Open Sans', sans-serif;
}
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Search Field Designing */
.search-field{
    gap: 1rem;
    padding: 1rem;
    margin: 3rem 0 1rem;
}
input[type="text"]{
    min-height: 2.7rem;
    width: 33rem;
    background: none;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    color: #fff;
    padding-left: 1rem;
    font-size: 24px;
    text-transform: capitalize;
}
input[type="submit"]{
    height: 2.7rem;
    min-width: 5.5rem;
    background-color: #DB8B50;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
input[type="submit"]:hover{
    color: #DB8B50;
    background: #fff;
}
::placeholder{
    color: #fff;
}

/* Ingredients Designing */
.ingredients{
    position: relative;
    padding: 0 3rem;
    flex-wrap: wrap;
}
.recipeTitle{
    text-transform: capitalize;
    text-align: center;
    color: #fff;
    font-weight: 500;
    font-size: 25px;
    margin: 2rem 0;
}
.ingredientCard{
    width: 18rem;
    min-height: 14rem;
    background: #fff;
    float: left;
    margin: 1rem;
}
.ingredientCard-img{
    width: 100%;
    min-height: 11rem;
}
.ingredientCard-img img{
    width: 8rem;
}
.ingredientCard-text{
    width: 100%;
    min-height: 3rem;
    border-top: 1px solid #b7b9bb;
    text-align: center;
    padding: 1rem;
    font-size: 18px;
}


/* Responsiveness */
@media only screen and (max-width: 767px){
    .search-field{
        flex-direction: column;
    }
    input[type="text"]{
        font-size: 20px;
    }
    input[type="submit"]{
        width: 100%;
    }
}

@media only screen and (max-width: 560px){
    input[type="text"]{
        width: 25rem;
    }
}

@media only screen and (max-width: 430px){
    input[type="text"]{
        width: 18rem;
    }
    .ingredients{
        padding: 0 !important;
    }
}

/* For larger devices */
@media only screen and (min-width: 1500px){
    input[type="text"]{
        width: 47rem;
        font-size: 28px;
    }
    input[type="submit"]{
        font-size: 20px;
    }
}