@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: rgba(28, 93, 116, 0.988);
}

/* Genral Classes */
.flex-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navigation Bar Designing */
.nav{
    width: 100%;
    height: 77px;
    background: #fff;
    padding: 13px 63px;
}
.nav .logo{
    justify-content: start;
    gap: 15px;
}
.logo img{
    width: 50px;
    cursor: pointer;
}
.logo h2{
    letter-spacing: 1px;
    margin-top: 5px;
    cursor: pointer;
}

/* Suggestions Designing */
.suggestions{
    width: 100%;
    padding: 0 73px;
    gap: 15px;
    margin-bottom: 4rem;
}
.suggestions .option{
    min-width: 112px;
    height: 34px;
    padding: 0 10px;
    color: #fff;
    gap: 7px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.204);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.option img{
    width: 26px;
}
.option:hover{
    transform: translateY(-5px);
}

/* Search Field Designing */
.search-field{
    gap: 1rem;
    padding: 1rem;
    margin: 3rem 0 1.5rem;
}
input[type="text"]{
    min-height: 2.7rem;
    background: none;
    border: none;
    outline: none;
    border-bottom: 3px solid #fff;
    color: #fff;
    padding-left: 0.5rem;
    font-size: 22px;
    text-transform: capitalize;
}
input[type="text"]:nth-child(1){
    width: 28rem;
}
input[type="text"]:nth-child(2){
    width: 16rem;
}
input[type="submit"]{
    height: 2.7rem;
    min-width: 5.5rem;
    background-color: #FF8450;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
input[type="submit"]:hover{
    color: #FF8450;
    background: #fff;
}
::placeholder{
    color: #fff;
}

/* Recipes Designing */
.recipes{
    position: relative;
    padding: 0 3rem 3rem;
    gap: 15px;
    flex-wrap: wrap;
    align-items: unset !important;
}
.recipes .recipeCard{
    width: 22rem;
    min-height: 30rem;
    background: #fff;
}
.recipeCard .recipeCard-img{
    position: relative;
    width: 100%;
    height: 12rem;
    border: 3px solid #fff;
}
.recipeCard-img img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.recipeCard .recipeCard-data{
    width: 100%;
    min-height: 18rem;
    padding: 0.8rem 0.5rem 1rem 1rem;
}
.recipeCard-data h3{
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.recipeCard-data ul{
    list-style: none;
}
.recipeCard-data .ingredient{
    margin: 01rem 0;
    gap: 9px;
    justify-content: flex-start !important;
}
.ingredient img{
    width: 25px;
}
.ingredient span{
    font-size: 18px;
}


/* Responsiveness */
@media only screen and (max-width: 930px){
    input[type="text"]:nth-child(1){
        width: 23rem;
    }
    input[type="text"]:nth-child(2){
        width: 14rem;
    }
}

@media only screen and (max-width: 814px){
    input[type="text"]:nth-child(1){
        width: 21rem;
    }
    input[type="text"]:nth-child(2){
        width: 12rem;
    }
    .recipes .recipeCard {
        width: 18rem;
    }
}

@media only screen and (max-width: 768px){
    .search-field{
        flex-direction: column;
        padding: 1rem 4.5rem;
    }
    input[type="text"]{
        width: 100% !important;
    }
    input[type="submit"]{
        width: 100%;
    }
}

@media only screen and (max-width: 686px){
    .recipes .recipeCard {
        width: 22rem;
    }
}

@media only screen and (max-width: 580px){
    .search-field{
        padding: 1rem 2.3rem;
    }
    .suggestions .option{
        min-width: 73px;
        height: 40px;
    }
    .suggestions .option p{
        display: none;
    }
}

@media only screen and (max-width: 430px){
    .recipes{
        padding: 0 0 2rem !important;
    }
    .recipes .recipeCard{
        width: 18rem;
        min-height: 28rem
    }
    .recipeCard .recipeCard-img{
        height: 11rem;
    }
    .recipeCard .recipeCard-data{
        min-height: 17rem;
    }
}

@media only screen and (max-width: 416px){
    .suggestions .option{
        min-width: 50px;
        height: 40px
    }
    input[type="text"]{
        font-size: 21px;
    }
}

@media only screen and (max-width: 324px){
    .nav{
        padding: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* For larger devices */
@media only screen and (min-width: 1500px){
    input[type="text"]{
        width: 47rem;
        font-size: 28px;
    }
    input[type="submit"]{
        font-size: 20px;
    }
}